* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg: #000000;
	--text: #F5F5F5;
	--primary: #6A0DAD;
	--secondary: #FF4500;
	--accent: #15d415;
}

body {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	paddding: 20px;
	margin-top: 0;
	font-family: Arial;
}

header {
	background-color: #000000;
	text-align: center;
	padding: 30px 20px;
}
header h1 {
	color: #FFFFFF;
	font-size: 4rem;
	text-shadow: none;
}

.logo {
	max-width: 1000px;
	height: auto;
}

.side-icon {
	width: 400px;
	height: auto;
}

.side-icon:hover {
	transform: rotate(15deg);
}

nav {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	margin-top: 15px;
	background: #000000;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 2rem;
}

nav a:hover {
	color: var(--secondary);
}

#countdown {
	text-align: center;
	margin: 20px auto;
}

.slideshow {
	width: 90%;
	max-width: 800px;
	margin: 2rem auto;
	position: relative;
	aspect-ratio: 16 / 9;
	overflow: hidden;
}

.slideshow slide {
	width:100%;
	height: auto;
	display: block;
	position: relative;
	opacity: 0;
	animation: fade 15s infinite;
}

.slideshow .slide:nth-child(1) { animation-delay: 0s; }
.slideshow .slide:nth-child(2) { animation-delay: 5s; }
.slideshow .slide:nth-child(3) { animation-delay: 10s; }

@keyframes fade {
	0% { opacity: 0; }
	10% { opacity: 1; }
	33% { opacity: 1; }
	43% { opacity: 0; }
	100% { opacity: 0; }
}
.map-container {
		width: 80%
		max-width: 600px;
		margin: 2rem auto;
}

.address {
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	color: var(--accent);
	margin-bottom: 0.5rem;
}

.map {
	width: 80%;
	max-width: 600px;
	height: 300px;
	margin: 2rem auto;
}

footer {
	text-align: center;
	padding: 20px;
	background-color: #000000;
	color: #FFFFFF;
	margin: 0;
	border: none;
	box-shadow: none;
}

footer .connect {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	color: var(--accent);
	font-weight: bold;
}

footer.social a img {
	width: 40px;
	height: 40px;
	margin: 0 10px;
	vertical-align: middle;
	transition: transform 0.2s;
}

footer .social a img:hover {
	transform: scale(1.2);
}

@media (max-width:768px) {
	header {
		flex-direction: column;
		gap: 1rem;
	}

nav {
	flex-wrap: wrap;
	font-size: 1.2rem;
}

.slideshow {
	height: 200px;
}

.map {
	height: 200px;
}

.container {
	max-width: 900px;
	margin: 40px auto 0 auto;
	padding: 0 20px;
}

.bio {
	box-shadow: none;
	border: none;
}

.bio img {
	max-width: 350px;
	width: 100%;
	height: auto;
	border-radius: 10px;
	border: 3px solid var(--secondary);
}

.bio-content {
	flex: 1;
}

.bio-content h2 {
	margin-top: 0;
	font-size: 2.5rem;
	color: var(--accent);
	text-shadow: none;
}

.bio-content p {
	margin: 10px 0;
	line-height: 1.5;
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	color: var(--secondary);
}
